.countInput {
  display: inline-block !important;
  padding-right: 10px;
  padding-left: 0px;
}

.countInput .input {
  max-width: 50px !important;
}

.countInput button {
  display: none !important;
}
.viewport {
  width: 150px;
  overflow-y: auto;
}
