#categoryMenu {
  left: 6px;
  top: 30px !important;
}

#categoryMenuTop {
  top: 8px !important;
}

.bartoggle {
  width: 30px;
  height: 45px;
  text-align: center;
  padding-top: 10px !important;
  padding-left: 0px !important;
  font-size: 24px !important;
  z-index: 1000;
}

input[type=text],
textarea,
.ui.input>input,
.ui.input>i {
  background-color: #333;
  color: #ccc;
}

input[type=text]:focus,
textarea:focus,
.ui.input>input:focus,
.ui.input>i:focus {
  background-color: #ddd;
  color: #222;
}
