.recipe {
  margin: 0 10px;
}

.recipe .header {
  margin-bottom: 0px;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */      
}

.recipe .ingredientQty {
  text-align: right;
  width: 37px;
  float: left;
}

.recipe .ingredientName {
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  float: left;
  padding-left: 10px;
}

.recipe .ui.list .list {
  padding: 0px;
}

.recipe .singleIcon {
  font-size: 14px !important;
  vertical-align: baseline !important;
  margin-left: 5px !important;
  display: inline !important;
  text-decoration: underline black;
  cursor: pointer;
}

.recipe .singleIcon::before {
  content: '(';
  display: inline-block;
  text-decoration: none;
}

.recipe .singleIcon::after {
  content: ')';
  display: inline-block;
  text-decoration: none;
}

.recipe .icon {
  font-size: 16px !important;
}
